//
//  AlfrescoApp.xcconfig
//  AlfrescoApp
//
//  Created by Mohamad Saeedi on 31/10/2013.
//  Copyright (c) 2013 Alfresco. All rights reserved.
//

OTHER_CFLAGS=-DCLOUD_OAUTH_KEY="@\"${ALFRESCO_IOS_CLOUD_OAUTH_KEY}\"" -DCLOUD_OAUTH_SECRET="@\"${ALFRESCO_IOS_CLOUD_OAUTH_SECRET}\"" -DINTERNAL_CLOUD_API_KEY="@\"${INTERNAL_CLOUD_API_KEY}\"" -DFLURRY_API_KEY="@\"${ALFRESCO_IOS_FLURRY_API_KEY}\"" -DQUICKOFFICE_PARTNER_KEY="@\"${QUICKOFFICE_PARTNER_KEY}\"" -DHOCKEYAPP_APPID="@\"${ALFRESCO_IOS_HOCKEYAPP_APPID}\""
