<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Default -->
	<key>view-activities-default</key>
	<string>mainmenu-activities.png</string>
	<key>view-repository-default</key>
	<string>mainmenu-repository.png</string>
	<key>view-sites-default</key>
	<string>mainmenu-sites.png</string>
	<key>view-task-default</key>
	<string>mainmenu-tasks.png</string>
	<key>view-favorite-default</key>
	<string>mainmenu-favourites.png</string>
	<key>view-search-default</key>
	<string>mainmenu-search.png</string>
	<key>view-local-default</key>
	<string>mainmenu-localfiles.png</string>
	<key>view-repository-shared-default</key>
	<string>mainmenu-sharedfiles.png</string>
	<key>view-repository-userhome-default</key>
	<string>mainmenu-myfiles.png</string>
    
    <!-- Inline -->
    <key>mobile-folder</key>
    <string>mainmenu-myfiles.png</string>
    <key>mobile-configuration</key>
    <string>mainmenu-document.png</string>
    <key>marc-profile</key>
    <string>mainmenu-user.png</string>
    <key>mike-profile</key>
    <string>mainmenu-user.png</string>
    <key>members-profile</key>
    <string>mainmenu-groups.png</string>
    <key>gallery-prototype</key>
    <string>mainmenu-grid.png</string>
    <key>business-task</key>
    <string>mainmenu-tasks.png</string>
    <key>business-task1</key>
    <string>mainmenu-tasks.png</string>
    <key>business-task2</key>
    <string>mainmenu-tasks.png</string>
    
    <!-- Views Group -->
    <!-- Sites -->
    <key>views-menu-alfresco-intranet</key>
    <string>mainmenu-sites.png</string>
    <key>view-site-internet</key>
    <string>mainmenu-sites.png</string>
    <key>view-site-hr</key>
    <string>mainmenu-sites.png</string>
    <key>view-site-marketing</key>
    <string>mainmenu-sites.png</string>
    <key>view-site-engineering</key>
    <string>mainmenu-sites.png</string>
    <key>view-site-operations</key>
    <string>mainmenu-sites.png</string>
    <key>view-site-prodman</key>
    <string>mainmenu-sites.png</string>
    <key>view-site-sales</key>
    <string>mainmenu-sites.png</string>
    <key>view-site-customer-services</key>
    <string>mainmenu-sites.png</string>
    <key>view-site-legal</key>
    <string>mainmenu-sites.png</string>
    <key>view-site-qa</key>
    <string>mainmenu-sites.png</string>
    <key>view-site-mobile-engineering</key>
    <string>mainmenu-sites.png</string>
    <key>view-engineering-site-wat1</key>
    <string>mainmenu-sites.png</string>
    <key>view-engineering-site-wat2</key>
    <string>mainmenu-sites.png</string>
    <key>view-engineering-site-platform</key>
    <string>mainmenu-sites.png</string>
    <key>view-engineering-site-clientapps</key>
    <string>mainmenu-sites.png</string>
    <key>view-engineering-site-desktopsync</key>
    <string>mainmenu-sites.png</string>
    <key>view-engineering-site-dam</key>
    <string>mainmenu-sites.png</string>
    <key>view-engineering-site-customer</key>
    <string>mainmenu-sites.png</string>
    
    <!-- Shortcuts -->
    <key>view-shortcut-mobeng-android-prototypes</key>
    <string>mainmenu-myfiles.png</string>
    <key>view-shortcut-sales-corporate-branding</key>
    <string>mainmenu-myfiles.png</string>
    <key>view-shortcut-sales-products</key>
    <string>mainmenu-myfiles.png</string>
    <key>view-shortcut-sales-corporate-competitive</key>
    <string>mainmenu-myfiles.png</string>
    <key>view-shortcut-sales-corporate-analyst</key>
    <string>mainmenu-myfiles.png</string>
    <key>view-shortcut-mobeng-android-projects</key>
    <string>mainmenu-myfiles.png</string>
    <key>view-details-mobeng-android-cookbook</key>
    <string>mainmenu-myfiles.png</string>
    
    <!-- Details -->
    <key>view-details-sales-products-status</key>
    <string>mainmenu-myfiles.png</string>
    <key>view-details-sales-docs-pricelist</key>
    <string>mainmenu-myfiles.png</string>
    
    <!-- Activities -->
    <key>view-activities-mobile-engineering</key>
    <string>mainmenu-activities.png</string>
    <key>view-engineering-activities-wat1</key>
    <string>mainmenu-activities.png</string>
    <key>view-engineering-activities-wat2</key>
    <string>mainmenu-activities.png</string>
    <key>view-engineering-activities-platform</key>
    <string>mainmenu-activities.png</string>
    <key>view-engineering-activities-clientapps</key>
    <string>mainmenu-activities.png</string>
    <key>view-engineering-activities-desktopsync</key>
    <string>mainmenu-activities.png</string>
    <key>view-engineering-activities-dam</key>
    <string>mainmenu-activities.png</string>
    <key>view-engineering-activities-customer</key>
    <string>mainmenu-activities.png</string>
    
    <!-- Case Studies -->
    <key>view-casestudy-query-construction</key>
    <string>mainmenu-search.png</string>
    <key>view-casestudy-query-education</key>
    <string>mainmenu-search.png</string>
    <key>view-casestudy-query-financial</key>
    <string>mainmenu-search.png</string>
    <key>view-casestudy-query-healthcare</key>
    <string>mainmenu-search.png</string>
    <key>view-casestudy-query-life</key>
    <string>mainmenu-search.png</string>
    <key>view-casestudy-query-manufacturing</key>
    <string>mainmenu-search.png</string>
    <key>view-casestudy-query-media</key>
    <string>mainmenu-search.png</string>
    <key>view-casestudy-query-non-profit</key>
    <string>mainmenu-search.png</string>
    <key>view-casestudy-query-public</key>
    <string>mainmenu-search.png</string>
    <key>view-casestudy-query-retail</key>
    <string>mainmenu-search.png</string>
    <key>view-casestudy-query-services</key>
    <string>mainmenu-search.png</string>
    <key>view-casestudy-query-technology</key>
    <string>mainmenu-search.png</string>
    <key>view-casestudy-query-transport</key>
    <string>mainmenu-search.png</string>
</dict>
</plist>
