<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>folder</key>
	<string>small_folder.png</string>
	<key>generic</key>
	<string>small_blank.png</string>
	<key>doc</key>
	<string>small_word.png</string>
	<key>docx</key>
	<string>small_word.png</string>
	<key>pdf</key>
	<string>small_pdf.png</string>
	<key>jpg</key>
	<string>small_image.png</string>
	<key>jpeg</key>
	<string>small_image.png</string>
	<key>tiff</key>
	<string>small_image.png</string>
	<key>bmp</key>
	<string>small_image.png</string>
	<key>png</key>
	<string>small_image.png</string>
	<key>ppt</key>
	<string>small_powerpoint.png</string>
	<key>pptx</key>
	<string>small_powerpoint.png</string>
	<key>txt</key>
	<string>small_notes.png</string>
	<key>mp3</key>
	<string>small_audio.png</string>
	<key>m4a</key>
	<string>small_audio.png</string>
	<key>wav</key>
	<string>small_audio.png</string>
	<key>aiff</key>
	<string>small_audio.png</string>
	<key>mp4</key>
	<string>small_video.png</string>
	<key>mov</key>
	<string>small_video.png</string>
	<key>m4v</key>
	<string>small_video.png</string>
	<key>xls</key>
	<string>small_excel.png</string>
	<key>xlsx</key>
	<string>small_excel.png</string>
	<key>xml</key>
	<string>small_xml.png</string>
	<key>zip</key>
	<string>small_zip.png</string>
	<key>site</key>
	<string>small_site.png</string>
	<key>repository</key>
	<string>repository.png</string>
</dict>
</plist>
