<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PasscodeLockLocalizedTitleKey</key>
	<string>settings.security.passcode.lock.title</string>
	<key>LocalizedTitleKey</key>
	<string>settings.title</string>
	<key>PasscodeLockTableViewData</key>
	<array>
		<dict>
			<key>GroupHeaderLocalizedKey</key>
			<string></string>
			<key>GroupCells</key>
			<array>
				<dict>
					<key>PreferenceIdentifier</key>
					<string>SettingsSecurityUsePasscodeLockIdentifier</string>
					<key>Type</key>
					<string>AlfrescoSettingsButton</string>
					<key>DefaultValue</key>
					<false/>
					<key>LocalizedCellTitleKey</key>
					<string>settings.security.use.passcode.lock</string>
				</dict>
				<dict>
					<key>PreferenceIdentifier</key>
					<string>SettingsChangePasscodeIdentifier</string>
					<key>Type</key>
					<string>AlfrescoSettingsButton</string>
					<key>DefaultValue</key>
					<false/>
					<key>LocalizedCellTitleKey</key>
					<string>settings.security.passcode.change</string>
				</dict>
			</array>
			<key>GroupFooterLocalizedKey</key>
			<string>settings.security.passcode.lock.description</string>
		</dict>
		<dict>
			<key>GroupHeaderLocalizedKey</key>
			<string></string>
			<key>GroupCells</key>
			<array>
				<dict>
					<key>CanUseTouchID</key>
					<true/>
					<key>PreferenceIdentifier</key>
					<string>SettingsPasscodeTouchIDIdentifier</string>
					<key>Type</key>
					<string>AlfrescoSettingsToggle</string>
					<key>DefaultValue</key>
					<false/>
					<key>LocalizedCellTitleKey</key>
					<string>settings.security.passcode.touch.id</string>
				</dict>
			</array>
			<key>GroupFooterLocalizedKey</key>
			<string>settings.security.passcode.touch.id.description</string>
		</dict>
	</array>
	<key>SettingsTableViewData</key>
	<array>
		<dict>
			<key>GroupHeaderLocalizedKey</key>
			<string></string>
			<key>GroupCells</key>
			<array>
				<dict>
					<key>CanSendEmail</key>
					<true/>
					<key>PreferenceIdentifier</key>
					<string>SettingsSendFeedbackIdentifier</string>
					<key>Type</key>
					<string>AlfrescoSettingsButton</string>
					<key>DefaultValue</key>
					<false/>
					<key>LocalizedCellTitleKey</key>
					<string>settings.feedback.title</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>GroupHeaderLocalizedKey</key>
			<string></string>
			<key>GroupCells</key>
			<array>
				<dict>
					<key>PreferenceIdentifier</key>
					<string>SettingsAboutIdentifier</string>
					<key>Type</key>
					<string>AlfrescoSettingsLabel</string>
					<key>DefaultValue</key>
					<false/>
					<key>LocalizedCellTitleKey</key>
					<string>about.title</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>GroupHeaderLocalizedKey</key>
			<string>settings.general.title</string>
			<key>GroupCells</key>
			<array>
				<dict>
					<key>PreferenceIdentifier</key>
					<string>SettingsSyncOnCellularIdentifier</string>
					<key>Type</key>
					<string>AlfrescoSettingsToggle</string>
					<key>DefaultValue</key>
					<true/>
					<key>LocalizedCellTitleKey</key>
					<string>settings.sync.on.cellular</string>
				</dict>
			</array>
			<key>GroupFooterLocalizedKey</key>
			<string>settings.sync.on.cellular.description</string>
		</dict>
		<dict>
			<key>GroupHeaderLocalizedKey</key>
			<string></string>
			<key>GroupCells</key>
			<array>
				<dict>
					<key>PreferenceIdentifier</key>
					<string>SettingsSendDiagnosticsIdentifier</string>
					<key>Type</key>
					<string>AlfrescoSettingsToggle</string>
					<key>DefaultValue</key>
					<true/>
					<key>LocalizedCellTitleKey</key>
					<string>settings.send.diagnostics</string>
				</dict>
			</array>
			<key>GroupFooterLocalizedKey</key>
			<string>settings.send.diagnostics.description</string>
		</dict>
		<dict>
			<key>GroupHeaderLocalizedKey</key>
			<string></string>
			<key>GroupCells</key>
			<array>
				<dict>
					<key>PreferenceIdentifier</key>
					<string>SettingsFullTextSearchIdentifier</string>
					<key>Type</key>
					<string>AlfrescoSettingsToggle</string>
					<key>DefaultValue</key>
					<false/>
					<key>LocalizedCellTitleKey</key>
					<string>settings.full.text.search</string>
				</dict>
			</array>
			<key>GroupFooterLocalizedKey</key>
			<string>settings.full.text.search.description</string>
		</dict>
		<dict>
			<key>GroupHeaderLocalizedKey</key>
			<string>settings.security.title</string>
			<key>GroupCells</key>
			<array>
				<dict>
					<key>HasPaidAccount</key>
					<true/>
					<key>PreferenceIdentifier</key>
					<string>SettingsFileProtectionIdentifier</string>
					<key>Type</key>
					<string>AlfrescoSettingsToggle</string>
					<key>DefaultValue</key>
					<false/>
					<key>LocalizedCellTitleKey</key>
					<string>settings.security.file.protection</string>
				</dict>
			</array>
			<key>GroupFooterLocalizedKey</key>
			<string>settings.security.file.protection.description</string>
		</dict>
		<dict>
			<key>GroupHeaderLocalizedKey</key>
			<string></string>
			<key>GroupCells</key>
			<array>
				<dict>
					<key>HasPaidAccount</key>
					<string>YES</string>
					<key>PreferenceIdentifier</key>
					<string>SettingsPasscodeLockIdentifier</string>
					<key>Type</key>
					<string>AlfrescoSettingsLabel</string>
					<key>DefaultValue</key>
					<false/>
					<key>LocalizedCellTitleKey</key>
					<string>settings.security.passcode.lock</string>
				</dict>
			</array>
			<key>GroupFooterLocalizedKey</key>
			<string>settings.security.passcode.lock.description</string>
		</dict>
		<dict>
			<key>GroupHeaderLocalizedKey</key>
			<string>settings.reset.title</string>
			<key>GroupCells</key>
			<array>
				<dict>
					<key>PreferenceIdentifier</key>
					<string>SettingsResetAccountsIdentifier</string>
					<key>Type</key>
					<string>AlfrescoSettingsButton</string>
					<key>DefaultValue</key>
					<false/>
					<key>LocalizedCellTitleKey</key>
					<string>settings.reset.accounts</string>
				</dict>
				<dict>
					<key>PreferenceIdentifier</key>
					<string>SettingsResetEntireAppIdentifier</string>
					<key>Type</key>
					<string>AlfrescoSettingsButton</string>
					<key>DefaultValue</key>
					<false/>
					<key>LocalizedCellTitleKey</key>
					<string>settings.reset.entire.app</string>
				</dict>
			</array>
			<key>GroupFooterLocalizedKey</key>
			<string>settings.reset.description</string>
		</dict>
	</array>
</dict>
</plist>
